﻿@model Enterprise___Assignment3.Domain.Entities.User
@using Enterprise___Assignment3.Domain.Entities
@{
    ViewBag.Title = "UserView";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>LoginForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>@Model.UserType Login</h4></div>
        <div class="panel-body" style="width:500px; margin:auto">

            @using (Html.BeginForm("Delegater", "Invoice"))
            {
                <div class="text-center">
                    <input class="btn btn-success" type="submit" name="submit"
                           value="Add Invoice"/>
                    @if(Model.UserType == AuthorizationType.Manager){
                    <input class="btn btn-success" type="submit" name="submit"
                           value="Review Recievables" />
                        <input class="btn btn-success" type="submit" name="submit"
                               value="Manage Invoices" />
                    }
                </div>
            }
        </div>
    </div>
</body>
</html>

