﻿@model IEnumerable<Invoice>
@using Enterprise___Assignment3.Domain.Entities
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>LoginForm</title>
    <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  });
  $(function () {
      $("#datepicker1").datepicker();
  });
    </script>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Review Recievables</h4></div>
        <div class="panel-body" style="width:500px; margin:auto">

            <table class="table table-striped">
                <tr>
                    <th>Invoice Number</th>
                    <th>Client Name</th>
                    <th>Total</th>
                    <th>Payment Due Date</th>
                </tr>
                @{double i = 0; }
                @foreach (Invoice invoice in Model)
                {
                    if (invoice.IsPaid)
                    {

                    }
                    else
                    {
                        <tr>
                            <td>@invoice.InvoiceNumber</td>
                            <td>@invoice.ClientName</td>
                            <td>$@invoice.TotalPrice()</td>
                            <td>@invoice.PaymentDueDate</td>
                        </tr>
                        i += invoice.TotalPrice();
                    }

                }
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Sum</td>
                        <td>$@i</td>
                    </tr>
                </tfoot>
            </table>
            @using (Html.BeginForm("Delegater", "Invoice"))
            {
                <div class="text-center">
                    <input class="btn btn-success" type="submit" name="submit"
                           value="Add Invoice" />
                </div>
            }
        </div>
    </div>
</body>

</html>

